# Age-structured ICU demand sampler

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from scipy.optimize import minimize 
from datetime import timedelta
import datetime as dt
from IPython.display import Image
import requests

In [42]:
name = 'São Carlos'
state_or_city = 'city'
pop0 = 	251983
p_SUS = 0.6278

state = 'SP'
name_file = 'Sao_Carlos'

## Data

### Brazil

#### COVID-19 DATA

Data source: [Brasil.IO](https://brasil.io/dataset/covid19/caso). Observe the database changes every day.

In [43]:
#url = "https://brasil.io/dataset/covid19/caso/?format=csv"
#filename = 'data/brazil_' + url.split("/")[-3] + '.csv'
#with open(filename, "wb") as f:
#    r = requests.get(url)
#    f.write(r.content)

To keep the same analysis, we keep the data basis from June 11.

In [44]:
filename = 'data/brazil_covid19_06_11.csv'

df = pd.read_csv(filename)
df.head()

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-06-10,AC,Acrelândia,city,167,2,True,15256.0,1200013.0,1094.65128,0.0120
1,2020-06-10,AC,Assis Brasil,city,79,4,True,7417.0,1200054.0,1065.12067,0.0506
2,2020-06-10,AC,Brasiléia,city,176,5,True,26278.0,1200104.0,669.76178,0.0284
3,2020-06-10,AC,Bujari,city,90,1,True,10266.0,1200138.0,876.68030,0.0111
4,2020-06-10,AC,Capixaba,city,73,2,True,11733.0,1200179.0,622.17677,0.0274

Select a particular state or city:

In [45]:
df = df[ df['place_type'] == state_or_city]
df = df[ df[state_or_city] == name ]

df_I = df.groupby('date')[['confirmed']].sum()
df_I.index = pd.to_datetime(df_I.index)
today = df_I.index[-1] + timedelta(days=1)

Last day of data used to run this notebook:

In [46]:
fit_until = df_I.index[-1].strftime('%m-%d')
fit_until

'06-10'

#### Population data combined with ICU adimission probability by age

Data source: [IBGE](https://www.ibge.gov.br/apps/populacao/projecao/).

In [47]:
# State of São Paulo
file = 'data/pop_age_str_IBGE_2020_' + state + '.csv'

# Other states
# file = 'data/pop_age_str_IBGE_2020_' + name + '.csv'

df_age = pd.read_csv(file)
df_age.loc[0, 'Age'] = '00-04'
df_age.loc[1, 'Age'] = '05-09'
df_age['AGE_prob'] = df_age['Total'] / df_age['Total'].sum()

# Selected state
#pop0 = df_age['Total'].sum().item()

In [48]:
df_age_ICU = pd.DataFrame(columns=['Age', 'ICU_prob'])
df_age_ICU['Age'] = ['0-19', '20-44', '45-54', '55-64', '65-74', '75-84', '85+']
df_age_ICU['ICU_prob'] = [0, 4.2, 10.4, 11.2, 18.8, 31, 29]

In [49]:
ICU_prob = [0., 0., 0., 0., 0.042, 
            0.042, 0.042, 0.042, 0.042, 0.104,
            0.104, 0.112, 0.112, 0.188, 0.188,
            0.31, 0.31, 0.29, 0.29]

df_age['ICU_prob'] = ICU_prob

## Sampling from age-structed population probability and ICU admission probability

Function to be used to performe both sampling over time.

In [50]:
def ICU_samp(df, n, n_samp_AGE_max= 1000, n_samp_AGE_min= 100, n_samp_ICU_max= 1000, n_samp_ICU_min= 100):

    df_samp = pd.DataFrame(columns= df['Age'])

    for j in range(n_samp_AGE_max):
    
        samp = np.random.choice(df['Age'], 
                                n, 
                                p= list(df['AGE_prob']) )

        unique, counts = np.unique(samp, return_counts= True)
    
        for l in range(len(unique)):
            df_samp.loc[j, unique[l]] = counts[l]


    df_samp = df_samp.fillna(0)
    df['n_mean'] = list(df_samp.mean(axis= 0))
    df['n_std']  = list(df_samp.std(axis =0))

    df = df.set_index('Age')

    for age in df.index:
    
        aux_ = []

        for j in range(n_samp_ICU_max):      
    
            samp = np.random.uniform(size= int(df.loc[age]['n_mean']))  
            samp_ICU = samp < df.loc[age]['ICU_prob']
            aux_.append(samp_ICU.sum())


        df.loc[age, 'n_mean_ICU']  = np.mean(aux_)
        df.loc[age, 'n_std_ICU']   = np.std(aux_)
        
    df['n_std_ICU'] = np.sqrt( df['n_std']**2 +  df['n_std_ICU']**2)
    
    return df

Running the function over both scenarios:

In [51]:
df_I

            confirmed
date
2020-04-06          1
2020-04-07          1
2020-04-08          1
2020-04-09          2
2020-04-10          4
...               ...
2020-06-06        224
2020-06-07        228
2020-06-08        226
2020-06-09        236
2020-06-10        239

[66 rows x 1 columns]

In [36]:
df1_ = []

for j in range(len(df_I)):
    
    df1 = ICU_samp(df= df_age.reset_index(), 
                   n= df_I.iloc[j][0], 
                   n_samp_AGE_max= 100, n_samp_AGE_min= 100,
                   n_samp_ICU_max= 100, n_samp_ICU_min= 100)

    
    df1_.append(df1)

In [37]:
df1_[0]

,index,Total,AGE_prob,ICU_prob,n_mean,n_std,n_mean_ICU,n_std_ICU
Age,,,,,,,,
00-04,0,3038361,0.065638,0.000,0.07,0.256432,0.0,0.256432
05-09,1,3042098,0.065719,0.000,0.08,0.272660,0.0,0.272660
10-14,2,2957679,0.063895,0.000,0.04,0.196946,0.0,0.196946
15-19,3,3127121,0.067556,0.000,0.07,0.256432,0.0,0.256432
20-24,4,3448513,0.074499,0.042,0.07,0.256432,0.0,0.256432
25-29,5,3511090,0.075851,0.042,0.10,0.301511,0.0,0.301511
30-34,6,3809963,0.082308,0.042,0.10,0.301511,0.0,0.301511
35-39,7,3854180,0.083263,0.042,0.07,0.256432,0.0,0.256432
40-44,8,3548754,0.076665,0.042,0.05,0.219043,0.0,0.219043
45-49,9,3141667,0.067870,0.104,0.04,0.196946,0.0,0.196946
50-54,10,2904703,0.062751,0.104,0.09,0.287623,0.0,0.287623
55-59,11,2632224,0.056865,0.112,0.07,0.256432,0.0,0.256432
60-64,12,2266765,0.048969,0.112,0.06,0.238683,0.0,0.238683
65-69,13,1780635,0.038468,0.188,0.07,0.256432,0.0,0.256432
70-74,14,1297671,0.028034,0.188,0.01,0.100000,0.0,0.100000
75-79,15,850465,0.018373,0.310,0.01,0.100000,0.0,0.100000
80-84,16,562367,0.012149,0.310,0.00,0.000000,0.0,0.000000
85-89,17,309125,0.006678,0.290,0.00,0.000000,0.0,0.000000
90+,18,205952,0.004449,0.290,0.00,0.000000,0.0,0.000000

### Taking into account removal from ICU after `T_ICU` days

In [20]:
def correction(x, df_, T_ICU= 14):

    df_[x]['n_mean_ICU_cor'] = 0.
    df_[x]['n_std_ICU_cor'] = 0.
    
    if x <= T_ICU:
                   
        df_[x]['n_mean_ICU_cor'] = df_[x]['n_mean_ICU']
        df_[x]['n_std_ICU_cor']   = df_[x]['n_std_ICU']
             
    else:
        
        delta = df_[x]['n_mean_ICU'] - df_[x - T_ICU]['n_mean_ICU']
        
        df_[x]['n_mean_ICU_cor'] = np.heaviside(delta, 0) * delta
        df_[x]['n_std_ICU_cor']  = np.sqrt(df_[x]['n_std_ICU']**2 + df_[x - T_ICU]['n_std_ICU']**2)

In [25]:
df1_[40]

,index,Total,AGE_prob,ICU_prob,n_mean,n_std,n_mean_ICU,n_std_ICU,n_mean_ICU_cor,n_std_ICU_cor
Age,,,,,,,,,,
00-04,0,3038361,0.065638,0.000,4.59,1.969951,0.00,1.969951,0.00,2.196301
05-09,1,3042098,0.065719,0.000,4.17,2.040276,0.00,2.040276,0.00,2.234486
10-14,2,2957679,0.063895,0.000,4.22,1.982652,0.00,1.982652,0.00,2.203762
15-19,3,3127121,0.067556,0.000,4.45,1.961112,0.00,1.961112,0.00,2.186968
20-24,4,3448513,0.074499,0.042,4.66,1.902789,0.15,1.941161,0.14,2.129691
25-29,5,3511090,0.075851,0.042,5.11,2.159756,0.21,2.206909,0.21,2.431972
30-34,6,3809963,0.082308,0.042,5.94,2.255498,0.19,2.293725,0.14,2.487278
35-39,7,3854180,0.083263,0.042,5.09,2.256730,0.24,2.301136,0.19,2.568595
40-44,8,3548754,0.076665,0.042,5.03,2.185605,0.23,2.234719,0.17,2.436313
45-49,9,3141667,0.067870,0.104,4.14,1.758213,0.47,1.876276,0.47,2.099738
50-54,10,2904703,0.062751,0.104,4.09,2.127715,0.46,2.221615,0.46,2.351921
55-59,11,2632224,0.056865,0.112,3.90,2.042478,0.34,2.115684,0.34,2.290176
60-64,12,2266765,0.048969,0.112,3.25,1.653738,0.34,1.726050,0.34,1.900387
65-69,13,1780635,0.038468,0.188,2.60,1.392621,0.39,1.509071,0.39,1.733689
70-74,14,1297671,0.028034,0.188,1.74,1.411497,0.13,1.451008,0.13,1.596166
75-79,15,850465,0.018373,0.310,1.35,1.157976,0.29,1.243708,0.29,1.342296
80-84,16,562367,0.012149,0.310,0.92,1.070070,0.00,1.070070,0.00,1.128644
85-89,17,309125,0.006678,0.290,0.37,0.613896,0.00,0.613896,0.00,0.651804
90+,18,205952,0.004449,0.290,0.38,0.599326,0.00,0.599326,0.00,0.651882

In [23]:
T_ICU = 14

for x in range(len(df1_)):
    
    correction(x, df_= df1_, T_ICU= T_ICU)

In [40]:
df1_[45]

,index,Total,AGE_prob,ICU_prob,n_mean,n_std,n_mean_ICU,n_std_ICU
Age,,,,,,,,
00-04,0,3038361,0.065638,0.000,5.59,2.554833,0.00,2.554833
05-09,1,3042098,0.065719,0.000,5.42,2.175065,0.00,2.175065
10-14,2,2957679,0.063895,0.000,5.36,2.426787,0.00,2.426787
15-19,3,3127121,0.067556,0.000,5.71,2.166294,0.00,2.166294
20-24,4,3448513,0.074499,0.042,5.92,2.218745,0.16,2.257704
25-29,5,3511090,0.075851,0.042,6.22,2.451880,0.27,2.499763
30-34,6,3809963,0.082308,0.042,7.05,2.426183,0.29,2.492441
35-39,7,3854180,0.083263,0.042,7.45,2.442780,0.30,2.509417
40-44,8,3548754,0.076665,0.042,6.63,2.158633,0.27,2.212871
45-49,9,3141667,0.067870,0.104,5.84,2.561250,0.42,2.638863
50-54,10,2904703,0.062751,0.104,5.10,2.100986,0.40,2.171207
55-59,11,2632224,0.056865,0.112,5.35,2.417842,0.56,2.504468
60-64,12,2266765,0.048969,0.112,4.14,1.740893,0.29,1.815656
65-69,13,1780635,0.038468,0.188,3.09,2.020576,0.51,2.114859
70-74,14,1297671,0.028034,0.188,2.57,1.485655,0.42,1.584541
75-79,15,850465,0.018373,0.310,1.61,1.369915,0.34,1.449506
80-84,16,562367,0.012149,0.310,1.03,1.184538,0.30,1.270091
85-89,17,309125,0.006678,0.290,0.56,0.769625,0.00,0.769625
90+,18,205952,0.004449,0.290,0.36,0.643852,0.00,0.643852

## Collecting daily averages

Given a list `df_` of dataframes, the function `daily_av` collect averages of collumns values over a `timeseries_data` period. The return is a daaframe called `df_ICU`.

In [ ]:
for

In [52]:
df1_[0]

,index,Total,AGE_prob,ICU_prob,n_mean,n_std,n_mean_ICU,n_std_ICU
Age,,,,,,,,
00-04,0,3038361,0.065638,0.000,0.07,0.256432,0.0,0.256432
05-09,1,3042098,0.065719,0.000,0.08,0.272660,0.0,0.272660
10-14,2,2957679,0.063895,0.000,0.04,0.196946,0.0,0.196946
15-19,3,3127121,0.067556,0.000,0.07,0.256432,0.0,0.256432
20-24,4,3448513,0.074499,0.042,0.07,0.256432,0.0,0.256432
25-29,5,3511090,0.075851,0.042,0.10,0.301511,0.0,0.301511
30-34,6,3809963,0.082308,0.042,0.10,0.301511,0.0,0.301511
35-39,7,3854180,0.083263,0.042,0.07,0.256432,0.0,0.256432
40-44,8,3548754,0.076665,0.042,0.05,0.219043,0.0,0.219043
45-49,9,3141667,0.067870,0.104,0.04,0.196946,0.0,0.196946
50-54,10,2904703,0.062751,0.104,0.09,0.287623,0.0,0.287623
55-59,11,2632224,0.056865,0.112,0.07,0.256432,0.0,0.256432
60-64,12,2266765,0.048969,0.112,0.06,0.238683,0.0,0.238683
65-69,13,1780635,0.038468,0.188,0.07,0.256432,0.0,0.256432
70-74,14,1297671,0.028034,0.188,0.01,0.100000,0.0,0.100000
75-79,15,850465,0.018373,0.310,0.01,0.100000,0.0,0.100000
80-84,16,562367,0.012149,0.310,0.00,0.000000,0.0,0.000000
85-89,17,309125,0.006678,0.290,0.00,0.000000,0.0,0.000000
90+,18,205952,0.004449,0.290,0.00,0.000000,0.0,0.000000

In [53]:
df1_[0]

,index,Total,AGE_prob,ICU_prob,n_mean,n_std,n_mean_ICU,n_std_ICU
Age,,,,,,,,
00-04,0,3038361,0.065638,0.000,0.07,0.256432,0.0,0.256432
05-09,1,3042098,0.065719,0.000,0.08,0.272660,0.0,0.272660
10-14,2,2957679,0.063895,0.000,0.04,0.196946,0.0,0.196946
15-19,3,3127121,0.067556,0.000,0.07,0.256432,0.0,0.256432
20-24,4,3448513,0.074499,0.042,0.07,0.256432,0.0,0.256432
25-29,5,3511090,0.075851,0.042,0.10,0.301511,0.0,0.301511
30-34,6,3809963,0.082308,0.042,0.10,0.301511,0.0,0.301511
35-39,7,3854180,0.083263,0.042,0.07,0.256432,0.0,0.256432
40-44,8,3548754,0.076665,0.042,0.05,0.219043,0.0,0.219043
45-49,9,3141667,0.067870,0.104,0.04,0.196946,0.0,0.196946
50-54,10,2904703,0.062751,0.104,0.09,0.287623,0.0,0.287623
55-59,11,2632224,0.056865,0.112,0.07,0.256432,0.0,0.256432
60-64,12,2266765,0.048969,0.112,0.06,0.238683,0.0,0.238683
65-69,13,1780635,0.038468,0.188,0.07,0.256432,0.0,0.256432
70-74,14,1297671,0.028034,0.188,0.01,0.100000,0.0,0.100000
75-79,15,850465,0.018373,0.310,0.01,0.100000,0.0,0.100000
80-84,16,562367,0.012149,0.310,0.00,0.000000,0.0,0.000000
85-89,17,309125,0.006678,0.290,0.00,0.000000,0.0,0.000000
90+,18,205952,0.004449,0.290,0.00,0.000000,0.0,0.000000

In [72]:
df1_[12]

,index,Total,AGE_prob,ICU_prob,n_mean,n_std,n_mean_ICU,n_std_ICU
Age,,,,,,,,
00-04,0,3038361,0.065638,0.000,0.35,0.609272,0.0,0.609272
05-09,1,3042098,0.065719,0.000,0.47,0.626921,0.0,0.626921
10-14,2,2957679,0.063895,0.000,0.45,0.672324,0.0,0.672324
15-19,3,3127121,0.067556,0.000,0.54,0.730573,0.0,0.730573
20-24,4,3448513,0.074499,0.042,0.41,0.621094,0.0,0.621094
25-29,5,3511090,0.075851,0.042,0.46,0.626357,0.0,0.626357
30-34,6,3809963,0.082308,0.042,0.67,0.766139,0.0,0.766139
35-39,7,3854180,0.083263,0.042,0.63,0.836720,0.0,0.836720
40-44,8,3548754,0.076665,0.042,0.53,0.717107,0.0,0.717107
45-49,9,3141667,0.067870,0.104,0.54,0.796710,0.0,0.796710
50-54,10,2904703,0.062751,0.104,0.41,0.637150,0.0,0.637150
55-59,11,2632224,0.056865,0.112,0.47,0.658357,0.0,0.658357
60-64,12,2266765,0.048969,0.112,0.29,0.537390,0.0,0.537390
65-69,13,1780635,0.038468,0.188,0.26,0.484507,0.0,0.484507
70-74,14,1297671,0.028034,0.188,0.24,0.473969,0.0,0.473969
75-79,15,850465,0.018373,0.310,0.12,0.356186,0.0,0.356186
80-84,16,562367,0.012149,0.310,0.10,0.301511,0.0,0.301511
85-89,17,309125,0.006678,0.290,0.02,0.140705,0.0,0.140705
90+,18,205952,0.004449,0.290,0.04,0.196946,0.0,0.196946

In [55]:
def daily_av(df_, timeseries_data, date, SUS= True, p_SUS= 0.6278, n_samp_max= 1000, n_samp_min= 100):

    #n_mean_    = []
    #n_std_     = []
    #n_mean_ICU_ = []
    #n_std_ICU_  = []

    ##for j in range(len(df_)):

    ##    n_mean_.append(df_[j]['n_mean'].sum())
    ##    n_std_.append( np.sqrt((df_[j]['n_std']**2).sum()) )
        
    ##    n_mean_ICU_.append(df_[j]['n_mean_ICU'].sum())
    ##  n_std_ICU_.append( np.sqrt((df_[j]['n_std_ICU']**2).sum()) )

    names = ['date', 'n_mean', 'n_std', 'n_mean_ICU', 'n_std_ICU']
    df_ICU = pd.DataFrame(columns= names)
    
    #df_ICU['date'] = timeseries_data
    df_ICU['date'] = date

    
    df_ICU['n_mean']     = df_['n_mean'].sum() 
    df_ICU['n_std']      = np.sqrt((df_['n_std']**2).sum()) 
    df_ICU['n_mean_ICU'] = df_['n_mean_ICU'].sum()
    df_ICU['n_std_ICU']  = np.sqrt((df_['n_std_ICU']**2).sum())

    df_ICU = df_ICU.set_index(['date'])


    if SUS:

        for j in range(n_samp_max):

            samp = np.random.uniform(size= int(df_ICU.loc[date]['n_mean_ICU']))  
            SUS_samp = samp <= p_SUS
            aux_.append(SUS_samp.sum())



        df_ICU.loc[date, 'n_mean_ICU_SUS'] = np.mean(aux_)
        df_ICU.loc[date, 'n_std_ICU_SUS']  = np.std(aux_)

        df_ICU['n_std_ICU_SUS'] = np.sqrt( df_ICU['n_std_ICU']**2 +  df_ICU['n_std_ICU_SUS']**2)

    return df_ICU

In [69]:
df1_

0.000    9.16  3.047503        0.00
 05-09      1  3042098  0.065719     0.000    9.02  3.035081        0.00
 10-14      2  2957679  0.063895     0.000    8.89  3.011409        0.00
 15-19      3  3127121  0.067556     0.000   10.03  3.066453        0.00
 20-24      4  3448513  0.074499     0.042   10.55  3.388558        0.42
 25-29      5  3511090  0.075851     0.042   10.81  3.305016        0.36
 30-34      6  3809963  0.082308     0.042   12.06  3.569851        0.51
 35-39      7  3854180  0.083263     0.042   11.53  3.517503        0.41
 40-44      8  3548754  0.076665     0.042   10.57  3.382232        0.41
 45-49      9  3141667  0.067870     0.104    9.50  3.270622        0.95
 50-54     10  2904703  0.062751     0.104    9.09  2.832335        0.81
 55-59     11  2632224  0.056865     0.112    8.38  3.106786        0.97
 60-64     12  2266765  0.048969     0.112    6.73  2.557836        0.66
 65-69     13  1780635  0.038468     0.188    5.28  2.412426        0.96
 70-74     14  1297671  0.028034     0.188    3.77  2.024372        0.57
 75-79     15   850465  0.018373     0.310    2.48  1.617330        0.68
 80-84     16   562367  0.012149     0.310    1.63  1.338286        0.25
 85-89     17   309125  0.006678     0.290    1.00  0.876172        0.29
 90+       18   205952  0.004449     0.290    0.52  0.703239        0.00

        n_std_ICU
 Age
 00-04   3.047503
 05-09   3.035081
 10-14   3.011409
 15-19   3.066453
 20-24   3.438884
 25-29   3.360585
 30-34   3.651539
 35-39   3.576972
 40-44   3.438226
 45-49   3.380010
 50-54   2.948902
 55-59   3.234381
 60-64   2.677111
 65-69   2.537360
 70-74   2.140836
 75-79   1.758794
 80-84   1.406595
 85-89   0.986700
 90+     0.703239  ,
        index    Total  AGE_prob  ICU_prob  n_mean     n_std  n_mean_ICU  \
 Age
 00-04      0  3038361  0.065638     0.000   11.80  3.399346        0.00
 05-09      1  3042098  0.065719     0.000   11.85  3.214157        0.00
 10-14      2  2957679  0.063895     0.000   11.07  3.130995        0.00
 15-19      3  3127121  0.067556     0.000   11.76  3.747376        0.00
 20-24      4  3448513  0.074499     0.042   12.85  3.322330        0.63
 25-29      5  3511090  0.075851     0.042   13.33  3.510604        0.54
 30-34      6  3809963  0.082308     0.042   14.10  3.652867        0.58
 35-39      7  3854180  0.083263     0.042   14.42  3.874756        0.52
 40-44      8  3548754  0.076665     0.042   13.76  3.238406        0.54
 45-49      9  3141667  0.067870     0.104   11.59  3.345719        1.11
 50-54     10  2904703  0.062751     0.104   11.04  3.244015        1.25
 55-59     11  2632224  0.056865     0.112    9.90  2.872721        1.04
 60-64     12  2266765  0.048969     0.112    8.78  2.713900        0.95
 65-69     13  1780635  0.038468     0.188    6.57  2.471065        1.33
 70-74     14  1297671  0.028034     0.188    5.51  2.418343        0.79
 75-79     15   850465  0.018373     0.310    3.31  1.555018        1.04
 80-84     16   562367  0.012149     0.310    2.26  1.521695        0.66
 85-89     17   309125  0.006678     0.290    1.24  1.111192        0.41
 90+       18   205952  0.004449     0.290    0.86  1.005239        0.00

        n_std_ICU
 Age
 00-04   3.399346
 05-09   3.214157
 10-14   3.130995
 15-19   3.747376
 20-24   3.401614
 25-29   3.596212
 30-34   3.713090
 35-39   3.932345
 40-44   3.318987
 45-49   3.500248
 50-54   3.407512
 55-59   3.048102
 60-64   2.851798
 65-69   2.647123
 70-74   2.544461
 75-79   1.782268
 80-84   1.637057
 85-89   1.215174
 90+     1.005239  ,
        index    Total  AGE_prob  ICU_prob  n_mean     n_std  n_mean_ICU  \
 Age
 00-04      0  3038361  0.065638     0.000   12.30  3.151078        0.00
 05-09      1  3042098  0.065719     0.000   12.22  3.377226        0.00
 10-14      2  2957679  0.063895     0.000   11.42  3.062250        0.00
 15-19      3  3127121  0.067556     0.000   12.45  3.939889        0.00
 20-24      4  3448513  0.074499     0.042   13.83  3.461345        0.45
 25-29      5  3511090  0.075851     0.042   14.17  3.984959        0.47
 30-34      6  3809963  0.082308     0.042   15.54  4.001060        0.53
 35-39      7  3854180  0.083263     0.042   14.96  3.943848        0.69
 40-44      8  3548754  0.076665     0.042   13.66  3.753032        0.58
 45-49      9  3141667  0.067870     0.104   12.64  2.993326        1.12
 50-54     10  2904703  0.062751     0.104   11.63  3.227580        1.08
 55-59     11  2632224  0.056865     0.112   10.43  3.130995        1.11
 60-64     12  2266765  0.048969     0.112    9.29  2.583143        0.90
 65-69     13  1780635  0.038468     0.188    7.15  2.551985        1.30
 70-74     14  1297671  0.028034     0.188    5.20  2.522625        1.07
 75-79     15   850465  0.018373     0.310    3.66  1.837983        1.00
 80-84     16   562367  0.012149     0.310    2.27  1.462356        0.48
 85-89     17   309125  0.006678     0.290    1.31  1.252835        0.27
 90+       18   205952  0.004449     0.290    0.87  0.928287        0.00

        n_std_ICU
 Age
 00-04   3.151078
 05-09   3.377226
 10-14   3.062250
 15-19   3.939889
 20-24   3.525395
 25-29   4.035963
 30-34   4.066643
 35-39   4.053127
 40-44   3.843026
 45-49   3.150492
 50-54   3.454110
 55-59   3.319794
 60-64   2.739092
 65-69   2.786149
 70-74   2.692348
 75-79   2.014493
 80-84   1.577366
 85-89   1.329171
 90+     0.928287  ,
        index    Total  AGE_prob  ICU_prob  n_mean     n_std  n_mean_ICU  \
 Age
 00-04      0  3038361  0.065638     0.000   13.06  3.544294        0.00
 05-09      1  3042098  0.065719     0.000   12.58  3.411744        0.00
 10-14      2  2957679  0.063895     0.000   12.74  3.424865        0.00
 15-19      3  3127121  0.067556     0.000   13.60  4.022663        0.00
 20-24      4  3448513  0.074499     0.042   14.68  3.218884        0.58
 25-29      5  3511090  0.075851     0.042   14.99  3.825737        0.57
 30-34      6  3809963  0.082308     0.042   15.98  3.687215        0.69
 35-39      7  3854180  0.083263     0.042   16.47  3.857185        0.67
 40-44      8  3548754  0.076665     0.042   14.60  3.687270        0.60
 45-49      9  3141667  0.067870     0.104   13.25  3.537319        1.29
 50-54     10  2904703  0.062751     0.104   12.21  3.316000        1.32
 55-59     11  2632224  0.056865     0.112   10.62  3.317477        1.07
 60-64     12  2266765  0.048969     0.112    9.54  3.270375        1.21
 65-69     13  1780635  0.038468     0.188    7.75  2.958893        1.35
 70-74     14  1297671  0.028034     0.188    5.39  2.317675        0.98
 75-79     15   850465  0.018373     0.310    3.59  1.917990        1.01
 80-84     16   562367  0.012149     0.310    2.28  1.589613        0.71
 85-89     17   309125  0.006678     0.290    1.00  1.005038        0.23
 90+       18   205952  0.004449     0.290    0.67  0.804721        0.00

        n_std_ICU
 Age
 00-04   3.544294
 05-09   3.411744
 10-14   3.424865
 15-19   4.022663
 20-24   3.299214
 25-29   3.886047
 30-34   3.769543
 35-39   3.952085
 40-44   3.757121
 45-49   3.695744
 50-54   3.486181
 55-59   3.456987
 60-64   3.426551
 65-69   3.121306
 70-74   2.480165
 75-79   2.061210
 80-84   1.741485
 85-89   1.089588
 90+     0.804721  ,
        index    Total  AGE_prob  ICU_prob  n_mean     n_std  n_mean_ICU  \
 Age
 00-04      0  3038361  0.065638     0.000   13.81  3.183591        0.00
 05-09      1  3042098  0.065719     0.000   13.94  3.495509        0.00
 10-14      2  2957679  0.063895     0.000   13.32  3.498571        0.00
 15-19      3  3127121  0.067556     0.000   14.48  3.520445        0.00
 20-24      4  3448513  0.074499     0.042   15.20  3.842874        0.70
 25-29      5  3511090  0.075851     0.042   15.87  3.392371        0.51
 30-34      6  3809963  0.082308     0.042   17.16  3.963775        0.51
 35-39      7  3854180  0.083263     0.042   18.06  3.879029        0.74
 40-44      8  3548754  0.076665     0.042   16.66  3.408901        0.73
 45-49      9  3141667  0.067870     0.104   14.27  3.754741        1.55
 50-54     10  2904703  0.062751     0.104   13.66  3.464743        1.32
 55-59     11  2632224  0.056865     0.112   12.18  3.229848        1.38
 60-64     12  2266765  0.048969     0.112    9.86  3.071603        1.10
 65-69     13  1780635  0.038468     0.188    8.31  2.513378        1.51
 70-74     14  1297671  0.028034     0.188    6.13  2.385372        1.09
 75-79     15   850465  0.018373     0.310    3.87  1.998257        0.86
 80-84     16   562367  0.012149     0.310    2.65  1.742951        0.60
 85-89     17   309125  0.006678     0.290    1.49  1.123621        0.32
 90+       18   205952  0.004449     0.290    1.08  1.041367        0.35

        n_std_ICU
 Age
 00-04   3.183591
 05-09   3.495509
 10-14   3.498571
 15-19   3.520445
 20-24   3.936709
 25-29   3.466711
 30-34   4.032545
 35-39   3.952122
 40-44   3.506809
 45-49   3.924994
 50-54   3.603060
 55-59   3.404045
 60-64   3.247268
 65-69   2.743533
 70-74   2.555758
 75-79   2.143229
 80-84   1.859537
 85-89   1.216604
 90+     1.145401  ,
        index    Total  AGE_prob  ICU_prob  n_mean     n_std  n_mean_ICU  \
 Age
 00-04      0  3038361  0.065638     0.000   15.22  3.778140        0.00
 05-09      1  3042098  0.065719     0.000   14.92  3.743493        0.00
 10-14      2  2957679  0.063895     0.000   14.18  4.135044        0.00
 15-19      3  3127121  0.067556     0.000   15.00  3.449491        0.00
 20-24      4  3448513  0.074499     0.042   16.69  3.773097        0.74
 25-29      5  3511090  0.075851     0.042   16.56  3.376448        0.67
 30-34      6  3809963  0.082308     0.042   18.66  4.127317        0.80
 35-39      7  3854180  0.083263     0.042   18.49  4.011335        0.83
 40-44      8  3548754  0.076665     0.042   17.27  3.681389        0.56
 45-49      9  3141667  0.067870     0.104   14.81  3.870883        1.38
 50-54     10  2904703  0.062751     0.104   14.26  3.694440        1.33
 55-59     11  2632224  0.056865     0.112   12.77  3.360060        1.28
 60-64     12  2266765  0.048969     0.112   10.56  3.150501        1.26
 65-69     13  1780635  0.038468     0.188    8.46  2.819198        1.50
 70-74     14  1297671  0.028034     0.188    6.39  2.145679        1.05
 75-79     15   850465  0.018373     0.310    4.40  2.049883        1.26
 80-84     16   562367  0.012149     0.310    2.85  1.695955        0.66
 85-89     17   309125  0.006678     0.290    1.70  1.417780        0.33
 90+       18   205952  0.004449     0.290    0.81  0.884148        0.00

        n_std_ICU
 Age
 00-04   3.778140
 05-09   3.743493
 10-14   4.135044
 15-19   3.449491
 20-24   3.858583
 25-29   3.475846
 30-34   4.244378
 35-39   4.095352
 40-44   3.762848
 45-49   3.987397
 50-54   3.848375
 55-59   3.517329
 60-64   3.319346
 65-69   3.036096
 70-74   2.373065
 75-79   2.234820
 80-84   1.822269
 85-89   1.493721
 90+     0.884148  ,
        index    Total  AGE_prob  ICU_prob  n_mean     n_std  n_mean_ICU  \
 Age
 00-04      0  3038361  0.065638     0.000   15.23  3.722319        0.00
 05-09      1  3042098  0.065719     0.000   15.01  3.726766        0.00
 10-14      2  2957679  0.063895     0.000   15.01  3.694098        0.00
 15-19      3  3127121  0.067556     0.000   14.94  3.454817        0.00
 20-24      4  3448513  0.074499     0.042   16.42  3.651982        0.65
 25-29      5  3511090  0.075851     0.042   17.31  3.711013        0.88
 30-34      6  3809963  0.082308     0.042   17.60  3.733550        0.74
 35-39      7  3854180  0.083263     0.042   19.78  4.103657        0.84
 40-44      8  3548754  0.076665     0.042   17.71  4.028422        0.74
 45-49      9  3141667  0.067870     0.104   15.31  3.981510        1.61
 50-54     10  2904703  0.062751     0.104   14.04  3.703452        1.62
 55-59     11  2632224  0.056865     0.112   12.96  3.237782        1.34
 60-64     12  2266765  0.048969     0.112   11.18  3.157099        1.29
 65-69     13  1780635  0.038468     0.188    9.16  2.766028        1.66
 70-74     14  1297671  0.028034     0.188    6.72  2.370185        1.12
 75-79     15   850465  0.018373     0.310    4.40  2.348436        1.35
 80-84     16   562367  0.012149     0.310    2.52  1.306395        0.59
 85-89     17   309125  0.006678     0.290    1.57  1.112418        0.34
 90+       18   205952  0.004449     0.290    1.13  1.041124        0.33

        n_std_ICU
 Age
 00-04   3.722319
 05-09   3.726766
 10-14   3.694098
 15-19   3.454817
 20-24   3.728870
 25-29   3.828474
 30-34   3.840806
 35-39   4.206471
 40-44   4.101290
 45-49   4.182143
 50-54   3.869258
 55-59   3.433312
 60-64   3.351593
 65-69   2.972425
 70-74   2.596801
 75-79   2.526391
 80-84   1.452090
 85-89   1.209080
 90+     1.142383  ,
        index    Total  AGE_prob  ICU_prob  n_mean     n_std  n_mean_ICU  \
 Age
 00-04      0  3038361  0.065638     0.000   14.66  3.843452        0.00
 05-09      1  3042098  0.065719     0.000   14.94  3.628785        0.00
 10-14      2  2957679  0.063895     0.000   14.62  3.940927        0.00
 15-19      3  3127121  0.067556     0.000   15.10  4.028936        0.00
 20-24      4  3448513  0.074499     0.042   16.25  3.890873        0.72
 25-29      5  3511090  0.075851     0.042   17.16  3.868338        0.72
 30-34      6  3809963  0.082308     0.042   19.09  3.972367        0.76
 35-39      7  3854180  0.083263     0.042   18.63  4.396176        0.68
 40-44      8  3548754  0.076665     0.042   17.36  3.893844        0.78
 45-49      9  3141667  0.067870     0.104   15.07  3.785285        1.60
 50-54     10  2904703  0.062751     0.104   14.21  3.485308        1.35
 55-59     11  2632224  0.056865     0.112   12.39  3.375177        1.36
 60-64     12  2266765  0.048969     0.112   10.76  3.241524        0.98
 65-69     13  1780635  0.038468     0.188    9.09  2.968164        1.79
 70-74     14  1297671  0.028034     0.188    6.85  2.345746        1.18
 75-79     15   850465  0.018373     0.310    4.38  2.163891        1.37
 80-84     16   562367  0.012149     0.310    2.82  1.678022        0.65
 85-89     17   309125  0.006678     0.290    1.62  1.324059        0.30
 90+       18   205952  0.004449     0.290    1.00  1.082459        0.31

        n_std_ICU
 Age
 00-04   3.843452
 05-09   3.628785
 10-14   3.940927
 15-19   4.028936
 20-24   3.972466
 25-29   3.950397
 30-34   4.059815
 35-39   4.452411
 40-44   3.996701
 45-49   3.948213
 50-54   3.629721
 55-59   3.530187
 60-64   3.386307
 65-69   3.267400
 70-74   2.519945
 75-79   2.365486
 80-84   1.800905
 85-89   1.401118
 90+     1.177122  ,
        index    Total  AGE_prob  ICU_prob  n_mean     n_std  n_mean_ICU  \
 Age
 00-04      0  3038361  0.065638     0.000   15.16  3.697447        0.00
 05-09      1  3042098  0.065719     0.000   15.12  3.742413        0.00
 10-14      2  2957679  0.063895     0.000   14.93  4.050826        0.00
 15-19      3  3127121  0.067556     0.000   15.50  4.260460        0.00
 20-24      4  3448513  0.074499     0.042   17.63  4.056806        0.70
 25-29      5  3511090  0.075851     0.042   18.49  4.522659        0.75
 30-34      6  3809963  0.082308     0.042   19.80  4.308788        0.90
 35-39      7  3854180  0.083263     0.042   19.88  4.376891        0.95
 40-44      8  3548754  0.076665     0.042   18.37  4.138157        0.78
 45-49      9  3141667  0.067870     0.104   16.78  4.162313        1.37
 50-54     10  2904703  0.062751     0.104   14.03  3.611024        1.47
 55-59     11  2632224  0.056865     0.112   13.61  3.407938        1.64
 60-64     12  2266765  0.048969     0.112   11.50  3.370999        1.07
 65-69     13  1780635  0.038468     0.188    8.85  3.069482        1.45
 70-74     14  1297671  0.028034     0.188    7.01  2.504521        1.23
 75-79     15   850465  0.018373     0.310    4.12  1.788177        1.27
 80-84     16   562367  0.012149     0.310    2.80  1.769552        0.59
 85-89     17   309125  0.006678     0.290    1.36  1.123846        0.33
 90+       18   205952  0.004449     0.290    1.06  1.003227        0.32

        n_std_ICU
 Age
 00-04   3.697447
 05-09   3.742413
 10-14   4.050826
 15-19   4.260460
 20-24   4.150624
 25-29   4.595862
 30-34   4.408589
 35-39   4.470422
 40-44   4.235085
 45-49   4.305572
 50-54   3.801131
 55-59   3.603393
 60-64   3.516921
 65-69   3.266377
 70-74   2.747677
 75-79   2.057833
 80-84   1.906099
 85-89   1.218249
 90+     1.106375  ,
        index    Total  AGE_prob  ICU_prob  n_mean     n_std  n_mean_ICU  \
 Age
 00-04      0  3038361  0.065638     0.000   14.91  4.072810        0.00
 05-09      1  3042098  0.065719     0.000   15.52  4.395774        0.00
 10-14      2  2957679  0.063895     0.000   14.88  3.690775        0.00
 15-19      3  3127121  0.067556     0.000   16.54  3.729273        0.00
 20-24      4  3448513  0.074499     0.042   18.04  4.320307        0.87
 25-29      5  3511090  0.075851     0.042   18.08  3.938107        0.78
 30-34      6  3809963  0.082308     0.042   20.57  4.290593        0.93
 35-39      7  3854180  0.083263     0.042   20.27  4.426402        0.82
 40-44      8  3548754  0.076665     0.042   18.50  3.580249        0.77
 45-49      9  3141667  0.067870     0.104   15.63  4.006699        1.46
 50-54     10  2904703  0.062751     0.104   14.93  4.107778        1.52
 55-59     11  2632224  0.056865     0.112   13.41  4.047933        1.80
 60-64     12  2266765  0.048969     0.112   11.93  3.747740        1.27
 65-69     13  1780635  0.038468     0.188    9.15  3.571421        1.45
 70-74     14  1297671  0.028034     0.188    6.93  2.471065        0.89
 75-79     15   850465  0.018373     0.310    4.09  2.170021        1.32
 80-84     16   562367  0.012149     0.310    2.86  1.792352        0.66
 85-89     17   309125  0.006678     0.290    1.78  1.345250        0.34
 90+       18   205952  0.004449     0.290    0.98  1.044272        0.00

        n_std_ICU
 Age
 00-04   4.072810
 05-09   4.395774
 10-14   3.690775
 15-19   3.729273
 20-24   4.404333
 25-29   4.024958
 30-34   4.401624
 35-39   4.549795
 40-44   3.662688
 45-49   4.164377
 50-54   4.294582
 55-59   4.200685
 60-64   3.886214
 65-69   3.776579
 70-74   2.650295
 75-79   2.376255
 80-84   1.912309
 85-89   1.426218
 90+     1.044272  ]

In [56]:
df1_ICU_ = daily_av(df1_, timeseries_data= df_I.index, SUS= True, p_SUS= p_SUS, n_samp_max= 100, n_samp_min= 100)

In [58]:
df1_ICU_

,n_mean,n_std,n_mean_ICU,n_std_ICU,n_mean_ICU_SUS,n_std_ICU_SUS
date,,,,,,
2020-04-06,1.0,0.967450,0.00,0.967450,0.00,0.967450
2020-04-07,1.0,0.968389,0.00,0.968389,0.00,0.968389
2020-04-08,1.0,0.968494,0.00,0.968494,0.00,0.968494
2020-04-09,2.0,1.375103,0.00,1.375103,0.00,1.375103
2020-04-10,4.0,1.948944,0.00,1.948944,0.00,1.948944
...,...,...,...,...,...,...
2020-06-06,224.0,14.208121,13.65,14.610880,8.30,14.733221
2020-06-07,228.0,14.151789,15.10,14.610754,9.74,14.738607
2020-06-08,226.0,14.600858,14.55,15.009176,8.58,15.096985
2020-06-09,236.0,15.219445,14.82,15.654971,8.82,15.770406
2020-06-10,239.0,15.539490,14.88,15.961740,8.85,16.066881

In [61]:
df1_ICU_.iloc[0]

n_mean            1.00000
n_std             0.96745
n_mean_ICU        0.00000
n_std_ICU         0.96745
n_mean_ICU_SUS    0.00000
n_std_ICU_SUS     0.96745
Name: 2020-04-06 00:00:00, dtype: float64

In [62]:
def correction(x, df_, T_ICU= 14):

    df_.iloc[x]['n_mean_ICU_cor'] = 0.
    df_.iloc[x]['n_std_ICU_cor'] = 0.
    
    if x <= T_ICU:
                   
        df_.iloc[x]['n_mean_ICU_cor'] = df_.iloc[x]['n_mean_ICU']
        df_.iloc[x]['n_std_ICU_cor']   = df_.iloc[x]['n_std_ICU']
             
    else:
        
        delta = df_.iloc[x]['n_mean_ICU'] - df_.iloc[x - T_ICU]['n_mean_ICU']
        
        df_.iloc[x]['n_mean_ICU_cor'] = np.heaviside(delta, 0) * delta
        df_.iloc[x]['n_std_ICU_cor']  = np.sqrt(df_.iloc[x]['n_std_ICU']**2 + df_.iloc[x - T_ICU]['n_std_ICU']**2)

In [65]:
len(df1_ICU_)

66

In [67]:
for j in range(len(df1_ICU_)):

    correction(j, df1_ICU_)

In [68]:
df1_ICU_

,n_mean,n_std,n_mean_ICU,n_std_ICU,n_mean_ICU_SUS,n_std_ICU_SUS
date,,,,,,
2020-04-06,1.0,0.967450,0.00,0.967450,0.00,0.967450
2020-04-07,1.0,0.968389,0.00,0.968389,0.00,0.968389
2020-04-08,1.0,0.968494,0.00,0.968494,0.00,0.968494
2020-04-09,2.0,1.375103,0.00,1.375103,0.00,1.375103
2020-04-10,4.0,1.948944,0.00,1.948944,0.00,1.948944
...,...,...,...,...,...,...
2020-06-06,224.0,14.208121,13.65,14.610880,8.30,14.733221
2020-06-07,228.0,14.151789,15.10,14.610754,9.74,14.738607
2020-06-08,226.0,14.600858,14.55,15.009176,8.58,15.096985
2020-06-09,236.0,15.219445,14.82,15.654971,8.82,15.770406
2020-06-10,239.0,15.539490,14.88,15.961740,8.85,16.066881

In [20]:
df1_ICU

,n_mean,n_std,n_mean_ICU,n_std_ICU,n_mean_ICU_SUS,n_std_ICU_SUS
date,,,,,,
2020-04-06,1.0,0.968076,0.00,0.968076,0.00,0.968076
2020-04-07,1.0,0.965150,0.00,0.965150,0.00,0.965150
2020-04-08,1.0,0.963684,0.00,0.963684,0.00,0.963684
2020-04-09,2.0,1.368255,0.00,1.368255,0.00,1.368255
2020-04-10,4.0,1.922225,0.00,1.922225,0.00,1.922225
...,...,...,...,...,...,...
2020-06-06,224.0,14.812778,9.35,17.976001,6.02,18.029315
2020-06-07,228.0,15.176863,9.02,18.321058,5.52,18.374732
2020-06-08,226.0,14.371928,8.27,17.712190,4.89,17.765685
2020-06-09,236.0,14.963288,8.85,18.385468,5.30,18.441677
2020-06-10,239.0,14.490617,9.23,18.074181,5.45,18.140108

## Private ICU beds

In [21]:
df1_ICU['n_mean_ICU_PRIVATE'] = df1_ICU['n_mean_ICU'] - df1_ICU['n_mean_ICU_SUS'] 
df1_ICU['n_std_ICU_PRIVATE'] = np.sqrt(  df1_ICU['n_std_ICU']**2 + df1_ICU['n_std_ICU_SUS']  )

## Saving the results.

In [22]:
file1 = 'results/dfs/df_ICU_' + state_or_city + '_' + name_file + '_fit_until_' + fit_until + '.pkl'
df1_ICU.to_pickle(file1)